<div mat-dialog-content >
  <form [formGroup]="userFormGroup" class="modal">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" formControlName="name" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="text" formControlName="email" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input type="text" formControlName="phone" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Website</mat-label>
      <input type="text" formControlName="website" matInput>
    </mat-form-field>
    <ng-template #createButtonCase>
    <button mat-raised-button (click)="onCreateButton()">Create New User</button>
    </ng-template>
    <button mat-raised-button *ngIf="isEdit else createButtonCase" (click)="onEditButton()">Save Changes</button>
  </form>
</div>
